@use '@/styles/mixins/typography' as typography;

$main-color: #000000;
$currency-name-color: #808080;
$title-color: #1C1C1E;
$link-color: #ffffff;
$bg-color: #f4f4f4e5;

.currency {
    margin: 48px 0;
    padding: 32px;
    border-radius: 28px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    @include typography.ubuntu-500;
    color: $main-color;
    background-color: $bg-color;
    background-image: linear-gradient(358.2deg, rgba(178, 178, 178, 0.8) 8.06%, rgba(178, 178, 178, 0) 67.93%);
    box-shadow: 0 2px 4px 0 rgba(187, 187, 187, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.08);

    &::after {
        content: '';
        position: absolute;
        right: 32px;
        top: 161px;
        transform: translateY(-30%);
        width: 120px;
        height: 113px;
        background: url(@/assets/images/bank.svg) no-repeat center / contain;
    }

    &__title {
        margin: 0 0 24px 0;
        font-size: 30px;
        @include typography.ubuntu-500;
        letter-spacing: 0.01em;
        color: $title-color;
    }

    &__subtitle {
        margin: 0;
        font-size: 20px;
        @include typography.ubuntu-500;
    }

    &__list {
        margin: 32px 0 51px 0;
        padding: 0;
        list-style-type: none;
        grid-column: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        @include typography.ubuntu-700;
        font-size: 20px;
    }

    &__name {
        color: $currency-name-color;
    }

    &__value {
        margin-left: 20px;
    }

    &__link {
        grid-column: 1;
        font-size: 20px;
        color: $link-color;
        text-decoration: none;
        @include typography.ubuntu-700;

        &:hover {
            cursor: pointer;
        }
    }

    &__date {
        grid-column: 2;
        text-align: end;
        font-size: 16px;
    }
}