@use '@/styles/mixins/typography' as typography;

$title-color: #1C1C1C;
$text-color: #1C1C1E;

.map {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin: 0 0 8px 0;
        line-height: 45px;
        letter-spacing: 0;
        font-size: 30px;
        color: $title-color;
        @include typography.ubuntu-500;
    }

    &__text {
        margin: 0;
        line-height: 50px;
        letter-spacing: 0;
        font-size: 16px;
        color: $text-color;
        @include typography.ubuntu-500;
    }

    &__image {
        display: block;
        width: 1060px;
        height: auto;
        margin-top: 48px;
    }
}

@media (max-width: 1728px) and (min-width: 1300px) {
    .map {
        &__image {
            width: calc(797px + (1060px - 797px) * ((100vw - 1300px) / (1728px - 1300px)));
        }
    }
}

@media (max-width: 1300px) and (min-width: 920px) {
    .map {
        &__image {
            width: calc(490px + (797px - 490px) * ((100vw - 920px) / (1300px - 920px)));
        }
    }
}

@media (max-width: 1300px) {
    .map {
        &__title {
            font-size: 23px;
            line-height: 38px;
        }

        &__text {
            margin: 6px 0 36px 0;
            font-size: 12px;
            line-height: 38px;
        }

        &__image {
            margin: 0;
        }
    }
}

@media (max-width: 920px) and (min-width: 500px) {
    .map {
        &__image {
            width: calc(290px + (490px - 290px) * ((100vw - 500px) / (920px - 500px)));
        }
    }
}

@media (max-width: 920px) {
    .map {
        &__title {
            margin-bottom: 0;
            text-align: center;
        }

        &__text {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 500px) {
    .map {
        &__title {
            margin: 0 35px 20px;
        }

        &__text {
            margin-bottom: 20px;
        }

        &__image {
            width: 100%;
        }
    }
}