@use '@/styles/mixins/typography' as typography;

$link-color: #EB801D;
$text-color: #1C1C1E;
$form-color: #FFFFFF;
$input-color: #9092B0;
$btn-color: #686DF1;
$error-color: #ff2e2e;

.subscribe {
    margin: 64px 0 98px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include typography.ubuntu-700;
    color: $text-color;

    &__support-link {
        margin-left: 12px;
        text-decoration: none;
        font-size: 24px;
        color: $link-color;
        line-height: 1.47em;
    }

    &__title {
        margin: 40px 0 62px 23px;
        font-size: 30px;
        letter-spacing: 0.02em;
        line-height: 1.2em;
        text-align: center;
    }

    &__subtitle {
        margin-top: 27px;
        display: block;
        line-height: 1.47em;
        font-size: 30px;
        letter-spacing: 0.02em;
        @include typography.ubuntu-500;
    }

    &__success-message {
        margin: 0 auto;
    }



    &__form {
        position: relative;
        width: 423px;
        padding: 22px 32px 22px 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        background-color: $form-color;
        box-shadow: 0px 10px 20px 0px #363A781A;
    }

    &__error {
        position: absolute;
        top: 130%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $error-color;
        @include typography.nunito-sans-400;
        font-style: italic;
    }

    &__field {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 28px;
            height: 37px;
            left: -37px;
            top: -6px;
            background-image: url(@/assets/images/email.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__input {
        padding: 0 0 0 4px;
        border: none;
        font-size: 20px;
        color: $input-color;
        @include typography.nunito-sans-400;
        letter-spacing: 0.02em;

        &:focus-visible {
            outline: 2px solid $input-color;
            outline-offset: 2px;
        }
    }

    &__button {
        width: 161px;
        height: 45px;
        position: relative;
        padding: 14px 30px 13px 55px;
        background-color: $btn-color;
        border: none;
        border-radius: 20px;
        color: $form-color;
        @include typography.ubuntu-700;
        font-size: 16px;
        line-height: 1.27px;

        &::after {
            content: '';
            width: 24px;
            height: 38px;
            position: absolute;
            left: 14px;
            top: 0;
            background-image: url(@/assets/images/send.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0px 10px 20px 0px rgba(54, 58, 120, 0.1019607843);
        }
    }
}

@media (max-width: 1300px) {
    .subscribe {
        margin: 48px 0 74px 0;

        &__support-link {
            font-size: 18px;
        }

        &__title {
            margin: 23px 0 47px 23px;
            font-size: 23px;
        }

        &__subtitle {
            margin-top: 20px;
            font-size: 23px;
        }

        &__form {
            width: 395px;
            padding: 16px 24px 16px 52px;
            border-radius: 15px;
            box-sizing: border-box;
        }

        &__error {
            font-size: 12px;
        }

        &__field {
            &::before {
                width: 21px;
                height: 28px;
                left: -28px;
                top: -4px;
            }
        }

        &__input {
            font-size: 15px;
        }

        &__button {
            width: 121px;
            height: 34px;
            padding: 10px 23px 10px 41px;
            font-size: 12px;

            &::after {
                max-height: 30px;
            }
        }
    }
}

@media (max-width: 920px) {
    .subscribe {
        &__form {
            width: 365px;
        }

        &__error {
            font-size: 11px;
        }
    }
}