@use '@/styles/mixins/typography' as typography;

$text-color: #1C1C1E;
$features-color: #4F5665;
$features-title-color: #0B132A;

.choose {
    margin: 131px 0 112px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    @include typography.ubuntu-700;

    &__title {
        max-width: 622px;
        margin: 0;
        text-align: left;
        font-size: 48px;
        letter-spacing: 0%;
        line-height: 50px;
        color: $text-color;
    }

    &__button {
        width: 160px;
        height: 50px;
        margin-top: 36px;
        grid-row: 2;
        border-radius: 16px;
    }

    &__list {
        margin: 0;
        padding: 0;
        grid-column: 2;
        grid-row: span 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-content: flex-start;
        gap: 16px;
        list-style-type: none;
    }

    &__card img {
        display: block;
    }
}

.features {
    display: flex;
    justify-content: space-between;
    color: $features-color;
    letter-spacing: 0%;
    line-height: 30px;

    &__text {
        padding-top: 74px;
        text-align: left;
        @include typography.rubik-400;
    }

    &__title {
        margin-bottom: 20px;
        @include typography.rubik-500;
        font-size: 35px;
        color: $features-title-color;
        line-height: 50px;
    }

    &__paragraph {
        font-size: 16px;
    }

    &__list {
        margin-top: 25px;
        padding: 0;
        list-style-type: none;
        font-size: 14px;
    }

    &__item {
        margin-bottom: 12px;
        position: relative;
        padding-left: 42px;

        &::before {
            content: '';
            width: 24px;
            height: 24px;
            position: absolute;
            left: 0;
            transform: translateY(15%);
            background-image: url('@/assets/images/Group1120.svg');
        }
    }
}