.app {
    padding: 0 214px;
}

@media (max-width: 1500px) {
    .app {
        padding: 0 190px;
    }
}

@media (max-width: 1300px) and (min-width: 920px) {
    .app {
        padding: 0 161px;
    }
}

