@use '@/styles/mixins/typography' as typography;

$text-color: #1C1C1E;

.choose {
    margin: 131px 0 112px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    @include typography.ubuntu-700;

    &__title {
        max-width: 622px;
        margin: 0;
        text-align: left;
        font-size: 48px;
        letter-spacing: 0;
        line-height: 50px;
        color: $text-color;
    }

    &__button {
        max-width: 160px;
        height: 50px;
        margin-top: 30px;
        grid-row: 2;
        border-radius: 16px;
        letter-spacing: 0.02em;
    }

    &__list {
        margin: 0;
        padding: 0;
        grid-column: 2;
        grid-row: span 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-content: flex-start;
        gap: 16px;
        list-style-type: none;
    }

    &__card {
        width: calc(190px + (253px - 190px) * ((100vw - 1300px) / (1728px - 1300px)));
    }

    &__card img {
        width: 100%;
        height: auto;
        display: block;
    }
}

@media (max-width: 1728px) and (min-width: 1300px) {
    .choose {
        &__button {
            width: calc(120px + (160px - 120px) * ((100vw - 1300px) / (1728px - 1300px)));
        }
    }
}

@media (max-width: 1500px) {
    .choose {
        margin: 114px 0 99px 0;

        &__title {
            font-size: 36px;
        }
    }

}

@media (max-width: 1300px) and (min-width: 920px) {
    .choose {
        &__title {
            max-width: 458px;
            line-height: 37px;
        }

        &__button {
            width: 120px;
            height: 37px;
            border-radius: 12px;
        }

        &__list {
            gap: 12px;
        }

        &__card {
            width: calc(190px + (253px - 190px) * ((100vw - 1300px) / (1728px - 1300px)));
        }
    }
}